<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vub.ngui.realquest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/RealQuestTheme" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name="vub.ngui.realquest.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="vub.ngui.realquest.QuestLoaderActivity"
            android:label="@string/title_activity_quest_loader" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vub.ngui.realquest.MainActivity" />
        </activity>
        <activity
            android:name="vub.ngui.realquest.CreditsActivity"
            android:label="@string/title_activity_credits" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="vub.ngui.realquest.SettingsActivity"
            android:label="@string/title_activity_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="vub.ngui.realquest.ScoresActivity"
            android:label="@string/title_activity_scores" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="vub.ngui.realquest.ProximityGaugeActivity"
            android:label="@string/title_activity_proximity_gauge"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vub.ngui.realquest.MainActivity" />
        </activity>
        <activity
            android:name="vub.ngui.realquest.MapQuestActivity"
            android:label="@string/title_activity_map_quest"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="vub.ngui.realquest.MiniGameActivity"
            android:label="@string/title_activity_mini_game" >
        </activity>
        <activity
            android:name="vub.ngui.realquest.ScoreActivity"
            android:label="@string/title_activity_score" >
        </activity>
    </application>

</manifest>